@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: roboto slab;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #240B35;
    border-radius: 0px;
    font-size: 1.3rem;
}

.card .img{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30%;
}

.card .img img{
    width: 55%;
}

.card .card-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px 70px 80px 0px;
    background-image:linear-gradient(to bottom, #FE7062, #240B35);
    width: 80%;
    height: 100%;
}

.card .group-login{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 40%;
}

.card .group-login input{
    background-color:#240B35;
    width: 100%;
    padding: 20px 0px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
    color: seashell;
    font-family: roboto Slab;
    font-size: 1.2rem;
}

input[name="email"]::-webkit-input-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="email"]::-ms-input-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="email"]:-moz-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="email"]::-moz-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="senha"]::-webkit-input-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="senha"]::-ms-input-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="senha"]:-moz-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input[name="senha"]::-moz-placeholder{
    font-family: roboto Slab;
    color: seashell;
    padding-left: 15px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px #240B35 inset;
}

input:-webkit-autofill{
    -webkit-text-fill-color: seashell;
}

.card .group-login .check-box input{
    display: none;
}

.card .group-login .check-box input + label::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #240B35; 
    background-color: seashell;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    margin-left: 8px;
    cursor: pointer;
}

 .card .group-login .check-box input:checked + label:before{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #240B35;
    background-position: center;
} 

.card .group-login .check-box label{
    color: seashell;
    cursor: pointer;
}

.card .group-login .button{
    background-image:linear-gradient(to bottom, #240B35, #371350);
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    transition-duration: 1s;
}

.card .group-login .button:hover{
    background-image:linear-gradient(to bottom, #fbfbfb, #e9e9e9);
    color: #240B35;
    transition-duration: 1s;
}

.card .footer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.card .footer .info{
    text-align: center;
}

.card .footer .info a{
    color: seashell;
    text-decoration: none;
    text-align: center;
}

.card .footer .info i{
    color: seashell;
    margin-right: 5px;
}







